@import '../../styles/settings';

.fab {
  display: none;
} 
.navbar {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 41px;
    padding-left: 50px;
    font-size: 14px;
    z-index: 1;

  }
  
  .scrolling {
    background: white;
    transition: all 0.5s ease;

      
    & .fab{
      display: inline;
    }  

  }
  
  .fab {
    font-size:$fz-600;
    padding: 5px;
    color: $color-secundary;
  }
.navbar-icons a {
  color: $color-secundary;
}
  .navbar-icons{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
  }
